.header{
    background-color: #3B5998;
    height: 82px;
    margin: -8px;
    border: 0px;
}
.fb{
    font-family: Century Gothic;
    font-size: 39px;
    font-weight: bold;
    margin-left: 185px;
    position: absolute;
    margin-top: 26px;
    color: white;
    text-shadow: 1px 0px 1px #A9B6D2;
    position: absolute;
    letter-spacing: -2px;
}
.login{
    float: right;
    color: white;
    font-size: 14px;
    font-family: "Calibri";
    font-weight: lighter;
    line-height: 1.34;
    margin-right: 212px;
    margin-top: 11px;
}

.middle{
    background-image: url("../imgs/background.jpg");
    margin: 8px;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    height: 640px;
    background-size:100%;
}
#forgotten{
    color: #9cb4d8;
    font-size: 14px;
    position: absolute;
    font-family: Calibri;
    text-decoration: none;
}
.center{
    background-color: transparent;
    width: 980px;
    direction: ltr;
    margin-left: 168px;
    height: 100%;
    position: absolute;
}
.connect{background-color: transparent;
    width: 490px;
    height: 100%;
    float:left;

}
.create{
    background-color: transparent;
    width: 400px;
    height: 100%;
    float: right;
}
#fhytc{
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
    font-family: sans-serif
}
.h1{
    color: #333;
    font-size: 43px;
    font-weight: bold;
    font-family: Calibri;
    line-height: 90px;
}
.h2{
    font-family: Calibri;
    font-size: 19px;
    color: #1d2129;
    line-height: 0px;
    font-weight: 600;
}
.input{
    border: 1px solid #bdc7d8;
    position: relative;
    border-radius: 5px;
    padding: 8.5px;
    margin-top: 11px;
    font-size: large;
    width: 377px;
}
.bdy{
    border: 1px solid #bdc7d8;
    font-size: 13px;
    height: 30px;
    padding: 5px;
}
#birthday
{
    display: block;
    font-weight: 600;
    font-family: Calibri;
    margin-bottom: 6px;
    margin-top: 6px;
    font-size: larger;
}
#why{
    max-width: 180px;
    font-family: calibri;
    font-size: 11px;
    color: #004b91;
}
.sx{
    font-size: 19px;
    font-weight: 600;
    font-family: calibri;
    line-height: 3;
}
.radio{
    color: white;
    margin: 6px;
}
#policy{
    color: #777;
    font-size: 11.5px;
    width: 316px;
    margin-top: -2px;
    word-spacing: 1px;
    font-family: Calibri;
}
#button{
    width: 200px;
    padding: 7px 20px;
    text-align: center;
    font-size: 19px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid green;
    text-shadow: 0 1px 2px black;
    height: 41px;
    margin-top: 12px;
}
.log{
    border: 1px solid #1d2a5b;
    width: 142px;
    height: 20px;
    margin-right: 10px;
    margin-left: 0px;
}
#login{
    color: white;
    border: 1px solid #ced0d4;
    background-color: #4267b2;
    border-color: #29487d;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
}
#celeb{
    font-size: 15px;
    color: #666;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 35px;
}
#footer{
    background-color: transparent;
    width: 980px;
    margin: 0px auto;

}
#lang{
    font-size: 13px;
    word-spacing: 10px;
    font-family: sans-serif;
    color: #004b91;
}
#ftable{
    color: #365899;
    width: 100%;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 16px;
}